{% extends "base.html" %}
{% block title %}Новая запись {% endblock %}
{% block content %}
{% load user_filters %}

<div class="card">
    <div class="card-header">
      Новая запись
    </div>
    <form method="post" action="{% url 'new' %}">
        {% csrf_token %}
        <div class="card-body">
        <blockquote class="blockquote mb-0">
        
            {% for field in form %}
                       
            <div class="form-group row">
                <label for="{{ field.id_for_label }}" 
                       class="col-md-2 col-form-label text-md-right">
                    {{ field.label }}
                </label>
                <div class="col-md-9">
                    {{ field | addclass:"form-control" }}
                </div>
            </div>
              
            {% endfor %}

                <footer class="blockquote-footer">{{ user.get_full_name }} in 
                    <cite title="Yatube">Yatube</cite>
                </footer>
        </blockquote>
            <button type="submit" class="btn btn-primary"
                    style = "margin-top: 20px">
                Отправить
            </button> 
        </div>
    </form>
</div>

{% endblock %}